@model BoilerStoreMonolith.Models.AdminEditViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование @Model.Product.Title</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Product.ProductID)
            @Html.HiddenFor(m => m.Product.ImageData)
            @Html.HiddenFor(m => m.Product.ImageMimeType)

            <div class="form-group">
                @Html.LabelFor(p => p.Product.Title)
                @Html.TextBoxFor(p => p.Product.Title, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Title)

                @Html.LabelFor(p => p.Product.Description)
                @Html.TextAreaFor(p => p.Product.Description, 10, 1, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Description)



                <div class="row my-4">
                    <div class="col-3 m-auto"> Выберите категорию:   </div>

                    <div class="col-3 m-auto text-center">
                        @Html.DropDownListFor(
                            p => p.Product.Category,
                            ViewBag.categories as SelectList, new{@class="w-100"})
                    </div>

                    <div class="col-6 m-auto pl-5">
                        @Html.ActionLink("Редактировать",
                            "IndexCategories",
                            "Admin",
                            new{@class= "btn btn-secondary" })
                    </div>
                </div>
                
                <div class="row my-4">
                    <div class="col-3 m-auto"> Выберите производителя:   </div>

                    <div class="col-3 m-auto text-center">
                        @Html.DropDownListFor(
                            p => p.Product.Firm,
                            ViewBag.Firms as SelectList, new{@class="w-100"})
                    </div>

                    <div class="col-6 m-auto pl-5">
                        @Html.ActionLink("Редактировать",
                            "IndexFirms",
                            "Admin",
                            new{@class= "btn btn-secondary" })
                    </div>
                </div>
                


                @Html.ValidationMessageFor(p => p.Product.Firm)

                @Html.LabelFor(p => p.Product.Power)
                @Html.TextBoxFor(p => p.Product.Power, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Power)

                @Html.LabelFor(p => p.Product.Price)
                @Html.TextBoxFor(p => p.Product.Price, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Price)
            </div>
        </div>

        {
            ViewBag.ImageToLoad = "productImg";
        }
        @Html.Partial("UploadImg")

        <div class="panel-footer mt-3">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить и вернуться к списку", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
        <br />
        <br />
    }



</div>

<script>
    $("#newCategoryBtn").click(function () {
        var optionTxt = $("#newCategoryTxt").val();
        var o = new Option(optionTxt, optionTxt, true, true);
        $("#Product_Category").append(o);

    });
</script>