@model BoilerStoreMonolith.Domain.Entities.InfoEntity
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование основной информации</h3>
    </div>
    @using (Html.BeginForm("EditSiteInfo", "Admin",
                             FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="panel-body">
        @foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "InfoID":
                case "ImageData":
                case "ImageMimeType":
                case "ImageData2":
                case "ImageMimeType2":
                    // do nothing
                    break;
                default:
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "CompanyInfo" ||
                            property.PropertyName == "Services")
                        {
                            @Html.TextArea(property.PropertyName, null,
                                        new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                    break;
            }
        }

        @Html.Partial("LoadImages", Model)

    </div>

        <div class="panel-footer mt-3">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить и вернуться к списку", "Index", null, new
           {
               @class = "btn btn-default"
           })
        </div>

    }
</div>