@model BoilerStoreMonolith.Models.AdminEditViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();

}

<div class="panel">
    <div class="panel-heading">
        <h3 class="text-center py-2">Редактирование товара</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Product.ProductID, new { id = "productId" })
            @Html.HiddenFor(m => m.Product.ImageData)
            @Html.HiddenFor(m => m.Product.ImageMimeType)

            <div class="form-group">

                <div class="form-group">
                    @Html.Partial("CategoryDropdown")
                </div>
                <div class="form-group">
                    @Html.Partial("FirmDropdown")
                </div>

                <div class="form-group">
                    @Html.LabelFor(p => p.Product.Title)

                    @Html.TextBoxFor(
                        p => p.Product.Title, null,
                        new {@class = "form-control", required = ""})
                </div>
                
                <div class="form-group description">
                    <div class="text-center h5 mt-3 mb-3">
                        @Html.LabelFor(p => p.Product.Description)
                    </div>
                    
                    @Html.TextAreaFor(
                        p => p.Product.Description, 10, 1,
                        new {@class = "form-control", required = ""})

                    @Html.Partial("DescriptionFeaturesInputTable", Model)
                </div>

                <div class="form-group">
                    @Html.LabelFor(p => p.Product.Price)
                    <div class="row">
                        <div class="col">
                            @Html.TextBoxFor(
                                p => p.Product.Price, null,
                                new {@class = "form-control", type = "number",
                                    min = "0",
                                    step = "0.01",
                                    placeholder="Введите значение",
                                    required = ""})
                        </div>
                        <div class="col">
                            @Html.TextBoxFor(
                                p => p.Product.Currency, null,
                                new {@class = "form-control",
                                    placeholder="Введите название валюты",
                                    required = ""})
                        </div>
                    </div>



                    @if (Model.ProductFeatures?.Count > 0)
                    {
                        for (int i = 0; i < Model.ProductFeatures.Count; i++)
                        {
                            @Html.LabelFor(m => m.ProductFeatures[i].Name, Model.ProductFeatures[i].Name)
                            @Html.HiddenFor(m => m.ProductFeatures[i].Name)

                            <div class="row">
                                <div class="col">
                                    @Html.TextBoxFor(
                                        m => m.ProductFeatures[i].Value, null,
                                        new {@class = "form-control",
                                            type = "number",
                                            min = "0",
                                            step = "0.001",
                                            placeholder = "Введите значение",
                                            required = ""})
                                </div>
                                <div class="col">
                                    @Html.TextBoxFor(
                                        m => m.ProductFeatures[i].Unit, null,
                                        new {@class = "form-control",
                                            placeholder="Введите единицу измерения",
                                            required = ""})
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="form-group">
                    @{
                        ViewBag.ImageToLoad = "productImg";
                    }
                    <label class="text-success mt-3">Если картинка не выбрана, то будет использоваться картинка категории.</label>
                    @Html.Partial("UploadImg")
                </div>



            </div>
        </div>

        <div class="panel-footer mt-3">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить и вернуться к списку",
                "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
        <br />
        <br />
    }



</div>

<script>




        //$(".dropdown-item").on("mousedown", function (e) {
        //    $("#dropdownMenuButton").text($(e.target).text());


        //});




        //function reloadEditWithFeatures() {

        //    let methodUrl = "";

        //    if ($("#productId").val() === 0) {
        //        methodUrl = "/Admin/Edit/?categoryName="
        //            + $("#dropdownMenuButton").text().trim();
        //    } else {
        //        methodUrl = "/Admin/Edit/?categoryName="
        //            + $("#dropdownMenuButton").text().trim() + "&productId="
        //            + $("#productId").val();
        //    }

        //    $.ajax({
        //        type: "GET",
        //        url: methodUrl
        //    });
        //}

</script>