@model BoilerStoreMonolith.Models.AdminEditViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование @Model.Product.Title</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Product.ProductID)
            @Html.HiddenFor(m => m.Product.ImageData)
            @Html.HiddenFor(m => m.Product.ImageMimeType)

            <div class="form-group">
                @Html.LabelFor(p => p.Product.Title)
                @Html.TextBoxFor(p => p.Product.Title, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Title)

                @Html.LabelFor(p => p.Product.Description)
                @Html.TextAreaFor(p => p.Product.Description, 10, 1, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Description)



                <div class="row mt-3 mb-3">
                    <div class="m-auto"> Выберите категорию:   </div>

                    @Html.DropDownListFor(
                        p => p.Product.Category,
                        ViewBag.categories as SelectList)


                    @Html.ActionLink("Редактировать категории", "IndexCategories", "Admin")

                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#newCategoryModal">
                        добавить новую категорию
                    </button>




                    @*<input id="newCategoryTxt" type="text" class="form-control" placeholder="Username">*@
                    @*<button id="newCategoryBtn" type="button" class="btn btn-default">Создать новую категорию</button>*@

                </div>

                @*@Html.LabelFor(p => p.Product.Category)
                    <div class="row">
                        <div class="col">
                            @Html.TextBoxFor(p => p.Product.Category, null, new { @class = "form-control" })
                        </div>
                        <div class="col">
                            @{
                                Model.ImageToLoad = "categoryImg";
                            }
                            @Html.Partial("UploadImg")
                        </div>
                    </div>*@
                @Html.ValidationMessageFor(p => p.Product.Firm)

                @Html.LabelFor(p => p.Product.Firm)
                <div class="row">
                    <div class="col">
                        @Html.TextBoxFor(p => p.Product.Firm, null, new { @class = "form-control" })
                    </div>
                    <div class="col">
                        @{
                            ViewBag.ImageToLoad = "firmImg";
                        }
                        @Html.Partial("UploadImg")
                    </div>
                </div>
                @Html.ValidationMessageFor(p => p.Product.Firm)

                @Html.LabelFor(p => p.Product.Power)
                @Html.TextBoxFor(p => p.Product.Power, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Power)

                @Html.LabelFor(p => p.Product.Price)
                @Html.TextBoxFor(p => p.Product.Price, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Price)
            </div>
        </div>

        {
            ViewBag.ImageToLoad = "productImg";
        }
        @Html.Partial("UploadImg")

        <div class="panel-footer mt-3">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить и вернуться к списку", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
        <br />
        <br />
    }



</div>

<script>
    $("#newCategoryBtn").click(function () {
        var optionTxt = $("#newCategoryTxt").val();
        var o = new Option(optionTxt, optionTxt, true, true);
        $("#Product_Category").append(o);

    });
</script>