@model BoilerStoreMonolith.Models.AdminEditViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование @Model.Product.Title</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Product.ProductID)
            @Html.HiddenFor(m => m.Product.ImageData)
            @Html.HiddenFor(m => m.Product.ImageMimeType)

            <div class="form-group">
                @Html.LabelFor(p => p.Product.Title)
                @Html.TextBoxFor(
                    p => p.Product.Title, null,
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Title)

                @Html.LabelFor(p => p.Product.Description)
                @Html.TextAreaFor(
                    p => p.Product.Description, 10, 1,
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Description)



                <div class="row my-4">
                    <div class="col-3 m-auto"> Выберите категорию:   </div>

                    <div class="col-3 m-auto text-center">
                        @if (Model.Categories?.Any() == true)
                        {
                            <div class="dropdown">
                                <button class="btn btn-transparent dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    @Model.Categories[0]
                                </button>
                                <input type="hidden" name="Product.Category" value="@Model.Categories[0]" />
                                       
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <a class="dropdown-item" href="#">@item</a>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="dropdown">
                                <button class="btn btn-transparent dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Нет доступных категорий.
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                </div>
                            </div>
                        }

                    </div>

                    <div class="col-6 m-auto pl-5">
                        @Html.ActionLink("Редактировать",
                            "IndexCategories",
                            "Admin",
                            new{@class= "btn btn-secondary" })
                    </div>
                </div>

                <div class="row my-4">
                    <div class="col-3 m-auto"> Выберите производителя:   </div>

                    <div class="col-3 m-auto text-center">
                        @if (Model.Firms?.Any() == true)
                        {
                        <div class="dropdown">
                            <button class="btn btn-transparent dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                @Model.Firms[0]
                            </button>
                            <input type="hidden" name="Product.Firm" value="@Model.Firms[0]" />
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                @foreach (var item in Model.Firms)
                                {
                                    <a class="dropdown-item" href="#">@item</a>
                                }
                            </div>
                        </div>
                        }
                        else
                        {
                            <div class="dropdown">
                                <button class="btn btn-transparent dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Нет доступных производителей.
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                </div>
                            </div>
                        }

                    </div>

                    <div class="col-6 m-auto pl-5">
                        @Html.ActionLink("Редактировать",
                            "IndexFirms",
                            "Admin",
                            new{@class= "btn btn-secondary" })
                    </div>
                </div>

                @if (Model.Features?.Count > 0)
                {
                    for (int i = 0; i < Model.Features.Count; ++i)
                    {
                        @Html.LabelFor(n => n.Features[i].Name, Model.Features[i].Name)
                        @Html.HiddenFor(n => n.Features[i].Name)
                        @Html.TextBoxFor(v => v.Features[i].Value,
                            new { @class = "form-control" })
                    }
                }


                @*@if (Model.FeatureNames?.Count > 0)
                    {
                        for (int i = 0; i < Model.FeatureNames.Count; i++)
                        {
                            @Html.Label(Model.FeatureNames[i])

                            <input name="FeatureNames" type="hidden" value=@Model.FeatureNames[i] />
                            if (Model.FeatureValues?.Count > 0)
                            {
                                <input class="form-control" name="FeatureValues" type="text"
                                       value="@Model.FeatureValues[i]" />
                            }
                            else
                            {
                                <input class="form-control" name="FeatureValues" type="text"
                                       value="" />
                            }
                        }
                    }*@



                @*@Html.LabelFor(p => p.Product.Power)
                    @Html.TextBoxFor(p => p.Product.Power, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Product.Power)*@

                @*@Html.LabelFor(p => p.Product.Price)
                    @Html.TextBoxFor(p => p.Product.Price, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Product.Price)*@
            </div>
        </div>

        {
            ViewBag.ImageToLoad = "productImg";
        }
        @Html.Partial("UploadImg")

        <div class="panel-footer mt-3">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить и вернуться к списку", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
        <br />
        <br />
    }



</div>

<script>
    $("#newCategoryBtn").click(function () {
        var optionTxt = $("#newCategoryTxt").val();
        var o = new Option(optionTxt, optionTxt, true, true);
        $("#Product_Category").append(o);

    });
</script>