@model BoilerStoreMonolith.Models.AdminEditViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();

}

<div class="panel">
    <div class="panel-heading">
        <h3 class="text-center py-2">Редактирование товара</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", 
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Product.ProductID, new { id = "productId" })
            @Html.HiddenFor(m => m.Product.ImageData)
            @Html.HiddenFor(m => m.Product.ImageMimeType)

            <div class="form-group">

                <div class="form-group">
                    @Html.Partial("CategoryDropdown")
                </div>
                <div class="form-group">
                    @Html.Partial("FirmDropdown")
                </div>

                <div class="form-group">
                    @Html.LabelFor(p => p.Product.Title)
                    @Html.TextBoxFor(
                        p => p.Product.Title, null,
                        new {@class = "form-control", required = ""})

                    @Html.LabelFor(p => p.Product.Description)
                    @Html.TextAreaFor(
                        p => p.Product.Description, 10, 1,
                        new {@class = "form-control", required = ""})
                </div>

                <div class="form-group">
                    @if (Model.Features?.Count > 0)
                    {
                        for (int i = 0; i < Model.Features.Count; i++)
                        {
                            @Html.LabelFor(m => m.Features[i].Name, Model.Features[i].Name)
                            @Html.HiddenFor(m => m.Features[i].Name)

                            @Html.TextBoxFor(
                                m => m.Features[i].Value, null,
                                new {@class = "form-control", required = ""})

                        }
                    }
                </div>

                <div class="form-group">
                    @{
                        ViewBag.ImageToLoad = "productImg";
                    }
                    @Html.Partial("UploadImg")
                </div>



            </div>
        </div>

        <div class="panel-footer mt-3">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить и вернуться к списку", 
                "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
        <br />
        <br />
    }



</div>

<script>




    //$(".dropdown-item").on("mousedown", function (e) {
    //    $("#dropdownMenuButton").text($(e.target).text());


    //});




    //function reloadEditWithFeatures() {

    //    let methodUrl = "";

    //    if ($("#productId").val() === 0) {
    //        methodUrl = "/Admin/Edit/?categoryName="
    //            + $("#dropdownMenuButton").text().trim();
    //    } else {
    //        methodUrl = "/Admin/Edit/?categoryName="
    //            + $("#dropdownMenuButton").text().trim() + "&productId="
    //            + $("#productId").val();
    //    }

    //    $.ajax({
    //        type: "GET",
    //        url: methodUrl
    //    });
    //}

</script>