@model BoilerStoreMonolith.Models.AdminEditViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование @Model.Product.Title</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Product.ProductID)
            @Html.HiddenFor(m => m.Product.ImageData)
            @Html.HiddenFor(m => m.Product.ImageMimeType)

            <div class="form-group">
                @Html.LabelFor(p => p.Product.Title)
                @Html.TextBoxFor(p => p.Product.Title, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Title)

                @Html.LabelFor(p => p.Product.Description)
                @Html.TextAreaFor(p => p.Product.Description, 10, 1, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Description)

                @Html.LabelFor(p => p.Product.Category)
                <div class="row">
                    <div class="col">
                        @Html.TextBoxFor(p => p.Product.Category, null, new { @class = "form-control" })
                    </div>
                    <div class="col">
                        @{
                            Model.ImageToLoad = "categoryImg";
                        }
                        @Html.Partial("UploadImg")
                    </div>
                </div>
                @Html.ValidationMessageFor(p => p.Product.Firm)

                @Html.LabelFor(p => p.Product.Firm)
                <div class="row">
                    <div class="col">
                        @Html.TextBoxFor(p => p.Product.Firm, null, new { @class = "form-control" })
                    </div>
                    <div class="col">
                        @{
                            Model.ImageToLoad = "firmImg";
                        }
                        @Html.Partial("UploadImg")
                    </div>
                </div>
                @Html.ValidationMessageFor(p => p.Product.Firm)

                @Html.LabelFor(p => p.Product.Power)
                @Html.TextBoxFor(p => p.Product.Power, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Power)

                @Html.LabelFor(p => p.Product.Price)
                @Html.TextBoxFor(p => p.Product.Price, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Product.Price)
            </div>
        </div>

        {
            Model.ImageToLoad = "productImg";
        }
        @Html.Partial("UploadImg")

        <div class="panel-footer mt-3">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить и вернуться к списку", "Index", null, new
       {
           @class = "btn btn-default"
       })
        </div>
        <br />
        <br />
    }
</div>