@model BoilerStoreMonolith.Models.ProductWithFeatures
@{
    ViewBag.Title = "ProductPage";
}

<style>
    pre {
        white-space: pre-wrap;
    }
</style>

@Html.Action("Breadcrumb", new {
    category = Model.Product.Category,
    firm = Model.Product.Firm,
    title = Model.Product.Title
})
<div class="row bg-light m-3">

    <div class="card mx-auto my-4" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img bg-light"
                     src="@Url.Action("GetImage", "Home",
                                 new { Model.Product.ProductID })" />
            </div>
            <div class="col-md-8">
                <div class="card-body">

                    <h5 class="card-title">@Model.Product.Title</h5>
                    @foreach (var item in Model.ProductFeatures)
                    {
                        <div class="">@item.Name: @item.Value  @item.Unit</div>
                    }
                    <div class="product-price">@Model.Product.Price @Model.Product.Currency</div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <pre>@Model.Product.Description</pre>
    </div>
</div>