<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Boiler Equipment</title>

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/css/ErrorStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*<script src="~/Scripts/jquery.validate.js"></script>*@
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Scripts/load-content.js"></script>
</head>

<body>
    @Html.Action("Header")
    <div class="container body-content main min-vh-100 px-0">

        <div class="row central my-3 mx-auto">
            <div class="col-2" id="sidebar-menu" style="display: none;">
                @if (ViewBag.Category != null)
                {
                    @Html.Action("CatalogueTree", new {category = ViewBag.Category})
                }
            </div>
            <div class="col">
                @Html.Partial("Menu")
                <div id="page-content">
                    @RenderBody()
                </div>

            </div>
        </div>
        @Html.Action("Footer")
    </div>
</body>
</html>

