@model BoilerStoreMonolith.Models.CatalogueViewModel
@{
    ViewBag.Title = "BoilerList";
    string actionName = this.ViewContext.RouteData.Values["action"].ToString();

    if (ViewBag.IsAjax == false)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = null;
    }
}

@*@if (actionName != "Catalogue")
{
    @Html.Action("Breadcrumb", new { category = ViewBag.Category, firm = ViewBag.Firm })
}*@

<div class="justify-content-center align-items-center flex-column w-100">


    @if (actionName == "BoilerList")
    {
        <h4 class="text-center">Продукция компании @ViewBag.Firm категории @ViewBag.Category</h4>
        <br />
        <br />
    }

    <table class="table table-borderless ">

        @{
            var productList = Model.ProductList.Products.ToList();
            var index = 0;
        }

        @*@Html.Partial("FilterBar")*@

        @for (int i = 0; i < Model.ProductList.PagingInfo.ItemsPerPage && i < productList.Count; i++)
        {
            <tr>
                @for (int j = 0; j < 3; j++)
                {
                    if (index >= productList.Count) { break; }

                    <td>@Html.Partial("Card", productList[index])</td>
                    index++;
                }
            </tr>
        }
    </table>

    @Html.Partial("Pagination", Model.ProductList.PagingInfo)

</div>


