@model BoilerStoreMonolith.Models.CatalogueTreeViewModel
@{


}
<div class="bg-light p-2 d-none d-lg-block">
    <h4 class="mb-3">Котельное оборудование</h4>
    <hr class="my-2" />
    <div class="catalogue">
        @foreach (var category in Model.Categories)
        {
            <ul id="myUL">
                <li class="mt-3">
                    @if (Model.CurrCategory == category.Name || ViewBag.category == category.Name)
                    {
                        @*<span class="caret caret-down">@category.Name</span>*@
                        @Html.ActionLink(@category.Name, "FirmList", "Home",
                                        new { category = @category.Name },
                                        new { @class = "caret caret-down" })
                        <ul class="nested active">
                            @foreach (var firm in category.Firms)
                            {
                                <li class="mt-2">
                                    @*@firm*@
                                    @Html.ActionLink(firm, "BoilerList", "Home",
                                        new { firm = firm, category = ViewBag.Category },
                                        null)
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        @*<span class="caret">@category.Name</span>*@
                        @Html.ActionLink(@category.Name, "FirmList", "Home",
                                new { category = @category.Name },
                                new { @class = "caret" })
                        <ul class="nested">
                            @foreach (var firm in category.Firms)
                            {
                                <li class="mt-2">
                                    @*@firm*@
                                    @Html.ActionLink(firm, "BoilerList", "Home",
                                        new { firm = @firm, category = @category.Name },
                                        null)
                                </li>
                            }
                        </ul>
                    }


                </li>
            </ul>
        }

    </div>
</div>




<script>
    var toggler = document.getElementsByClassName("caret");
    var i;

    for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function () {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
    }
</script>

<style>
    .catalogue {
        overflow-y: auto;
        overflow-x: hidden;
        height: 70vh;
    }

    ul, #myUL {
        list-style-type: none;
    }

    #myUL {
        margin: 0;
        padding: 0;
    }

    .caret {
        cursor: pointer;
        -webkit-user-select: none; /* Safari 3.1+ */
        -moz-user-select: none; /* Firefox 2+ */
        -ms-user-select: none; /* IE 10+ */
        user-select: none;
    }

        .caret::before {
            content: "\25B6";
            color: black;
            display: inline-block;
            margin-right: 6px;
        }

    .caret-down::before {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Safari */
        transform: rotate(90deg);
    }

    .nested {
        display: none;
    }

    .active {
        display: block;
    }
</style>