@model BoilerStoreMonolith.Domain.Entities.InfoEntity

<div class="form-group">
    <div style="position:relative;">
        <label>Картинка</label>
        <a class='btn' href='javascript:;'>
            Выбрать файл...
            <input type="file" name="logoImg" size="40"
                   style="position:absolute;z-index:2;top:0;
                                    left:0;filter: alpha(opacity=0); opacity:0;
                                    background-color:transparent;color:transparent;"
                   onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        <span class='label label-info' id="upload-file-info"></span>
    </div>
    @if (Model.ImageData == null)
    {
        <div class="form-control-static">Нет картинки</div>
    }
    else
    {
        @Html.HiddenFor(m => m.ImageData)
        @Html.HiddenFor(m => m.ImageMimeType)
        <img class="img-thumbnail" width="150" height="150"
             src="@Url.Action("GetImage", "Admin",
                                            new { infoId = Model.InfoID, imgElementName = "logoImg" })" />
    }


    <div style="position:relative;">
        <label>Картинка</label>
        <a class='btn' href='javascript:;'>
            Выбрать файл...
            <input type="file" name="homeImg" size="40"
                   style="position:absolute;z-index:2;top:0;
                                    left:0;filter: alpha(opacity=0); opacity:0;
                                    background-color:transparent;color:transparent;"
                   onchange='$("#upload-file-info2").html($(this).val());'>
        </a>
        <span class='label label-info' id="upload-file-info2"></span>
    </div>
    @if (Model.ImageData2 == null)
    {
        <div class="form-control-static">Нет картинки</div>
    }
    else
    {
        @Html.HiddenFor(m => m.ImageData2)
        @Html.HiddenFor(m => m.ImageMimeType2)
        <img class="img-thumbnail" width="150" height="150"
             src="@Url.Action("GetImage2", "Admin",
                                            new { infoId = Model.InfoID, imgElementName = "homeImg" })" />
    }

</div>

