<div class="main-menu">
    <ul class="nav nav-fill d-flex jc-space-between">
        <li class="nav-item mx-3">
            @Html.ActionLink("Главная", "Index", "Home",
                                    null, new { @class = "nav-link text-dark" })
        </li>
        <li class="nav-item mx-3">
            @Html.ActionLink("Каталог", "Catalogue", "Home",
                                    null, new { @class = "nav-link text-dark" })
        </li>
        <li class="nav-item mx-3">
            @Html.ActionLink("Услуги и цены", "Services", "Home",
                                    null, new { @class = "nav-link text-dark" })
        </li>
        <li class="nav-item mx-3">
            @Html.ActionLink("О компании", "AboutCompany", "Home",
                                    null, new { @class = "nav-link text-dark" })
        </li>
        <li class="nav-item mx-3">
            @Html.ActionLink("Контакты", "Contacts", "Home",
                                    null, new { @class = "nav-link text-dark" })
        </li>
    </ul>

</div>